.card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.card h4 {
  margin: 5px;
}

.subCard h4 {
  border: 1px solid black;
  border-radius: 5px;
  margin: 4px;
}
